<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IServerService">
                    <security mode="None">
                        <transport clientCredentialType="None" />
                        <message clientCredentialType="UserName" />
                    </security>
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8000/ServerService" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IServerService" contract="ServiceReference1.IServerService"
                name="BasicHttpBinding_IServerService" />
        </client>
    </system.serviceModel>
</configuration>